@charset "UTF-8";
/* auther: Julia Zhang*/

.container {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	border-bottom-width: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.primary_header {
	background-image: url('img/文征明_浒溪草堂图.jpeg');
  	padding: 0px;
  	border: 0px;
  	width: 100%;
  	height: 300px;
  	margin-top: 0px;
  	overflow: auto;
}

h1 { font: bold 4.2rem Helvetica, Arial, sans-serif; margin: 0 0 0.5em; }
h2 { font: bold 1.8rem Helvetica, Arial, sans-serif; margin: 0 0 1em; }
h3 { font: bold 1.5rem Helvetica, Arial, sans-serif; }
h4, h5, h6 { font: bold 1.2rem Helvetica, Arial, sans-serif; margin: 0 0 1em; }


h1 {
	text-align: center;
  display: block;
  font-size: 2em;
  margin-top: 3.0em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
body{
	font-family: Helvetica, Arial, sans-serif;
    background-image: url('img/bg2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 180%;
}
nav{
    margin: 0 auto;
    alignment-baseline: central;
    text-align: center;
    background-color: #dd7703;
}

.secondary_header {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #dd7703; 
    clear: left;
    overflow: auto;
}


.secondary_header ul {
    margin-top: 0%;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 15px;
    padding-left: 0px;
    width: 100%;
}
.secondary_header ul li {
    list-style: none;
    float: left;
    margin-right: auto;
    margin-top: 0px;
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-weight: normal;
    color: #FFFFFF;
    letter-spacing: 1px;
    margin-left: 11%;
    text-align: center;
    width: 6%;
    transition: all 0.3s linear;
}
.secondary_header ul li:hover {
    color: #717070;
    cursor: pointer;
}

.noDisplay {
	display: none;
}

#page-container {
  position: relative;
  
  min-height: 100vh;
}

.footer{
    position:  relative;
    bottom:  0;
    height:  1.4rem;
    text-align: center;
    color: #FFFFFF;
    margin-top:  -1.4rem;
    /*background-image: url('img/wildDuck4.png');
    background-repeat: no-repeat;
    background-size:  70% 100%;*/
}
.lastpart{

}

#content-wrap {
	height: 100%;
	padding-top: 2.5rem;  
   padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 1.4rem;    /* Footer height */
}

p, ul, dl, ol, table { font-size: 16px; margin: 0 0 1.5em; }
.wf-active p { font-weight: 300; }

#menu{}